body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fildset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-size: 12px;
}
img {
  border: none;
}
ul,
ol {
  list-style: none;
}
input,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 312.5%;
}
html,
body {
  height: 100%;
}
/*清浮动*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mainArea {
  background: url("../img/mainBack.jpg") left center no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.mainArea .part {
  display: none;
  position: absolute;
  bottom: 20.42%;
  text-align: center;
}
.mainArea .progressBarArea {
  display: block;
  background: url("../img/process.png") left center no-repeat;
  background-size: 100% 100%;
  height: 45px;
  width: 80%;
  margin: 0 10%;
  padding: 20px;
  box-sizing: border-box;
}
.mainArea .progressBarArea .bar {
  background: url("../img/house.png") left center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -24px;
  left: 0;
  width: 45px;
  height: 47px;
}
.mainArea .startArea {
  height: 38.75%;
}
.mainArea .startArea img {
  display: block;
  margin: 0 auto;
}
.mainArea .startArea .startPumpkin {
  width: 54.26%;
  margin-bottom: 6%;
}
.mainArea .startArea .lightPumpkin {
  width: 40.37%;
}
.mainArea .descriptionArea {
  height: 40%;
}
.mainArea .descriptionArea .descArea {
  display: none;
  height: 55%;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  font-weight: bold;
  letter-spacing: 5px;
}
.mainArea .descriptionArea .ruleArea {
  display: none;
}
.mainArea .descriptionArea .ruleArea .rule {
  width: 90%;
}
.mainArea .descriptionArea .ruleArea .goBtn {
  width: 22%;
}
.mainArea .descriptionArea .box {
  width: 50%;
}
.mainArea .descriptionArea .boxOpen {
  display: none;
}
